@font-face {
    font-family: 'Caviar Dreams';
    src: url('CaviarDreams.woff2') format('woff2'),
        url('CaviarDreams.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

section {
    display: flex;
}

div {
    border: black 3px solid;
}

#left {
    background-image: url(files/bg.jpg);
}