@font-face {
    font-family: 'Caviar Dreams';
    src: url('CaviarDreams.woff2') format('woff2'),
        url('CaviarDreams.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* General */

section {
    display: flex;
}

#right {
    flex: 0 0 70%;
}

#left {
    flex: 0 0 30%;
}

a {
    text-decoration: none;
    color: #2596be;
    font-weight: bold;
}

/* Left */

.logo {
    font-family: 'Caviar Dreams', sans-serif;
    color: white;
    font-size: 50px;
}

#left {
    background-image: url(files/bg.jpg);
    position: relative;
}

#left > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.107);
}

/* Right */

#right {
    background: rgb(240, 240, 240);
}

/* Right Top */

#top {
    padding: 70px 20px 20px 20px;
}

#top p {
    font-weight: bold;
}

/* Right Bottom */

#bottom {
    padding: 20px 20px 70px 40px;
    background: rgb(240, 240, 240);
}

#bottom button {
    background: #2596be;
    width: 170px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: black 3px 3px 10px -7px;
}

/* Right Middle (Form) */

#form {
    background: white;
}

h2 {
    padding: 20px 10px 0 40px;
}

form > div:not(:last-child) > div {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
    gap: 40px;
}

form > div:not(:last-child) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form label {
    font-size: small;
    letter-spacing: 1px;
}

form input {
    border: rgb(227, 227, 227) solid 1px;
    border-radius: 3px;
}

form > div:first-child {
    padding-bottom: 20px;
}